extends layout

block content
  h1.text-center= title
  p.text-center Introduce tus credenciales
  div.col-md-offset-4.col-md-4
    form(action="/sessions", method="POST")
      div.form-group
        label(for="email") Email
        input.form-control(type="text", id="email", name="email", placeholder="Email")
      div.form-group
        label(for="password") Password
        input.form-control(type="password", id="password", name="password", placeholder="*****")
      if (error!='') 
        div.alert.alert-danger(role=alert) 
          span.glyphicon.glyphicon-alert.margin-icon-right
          span #{error}
      div.form-group
        button.btn.btn-info(type="sumbit", value="Enviar") Enviar
